# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
venv/
env/
.env/

# Model checkpoints and results
results/checkpoints/*.pt
results/*.npy
results/*.png
results/*.h5

# Colab / Drive
*.gdrive

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

ff_data
scripts/morphology_test.py